<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>myVue</title>
    <script type="text/javascript" src="/assets/js/vue.js"></script>
</head>
<body>
    <div id="app">
        <div v-for="item in routeConfig">
            <h2>{{ item.title }}</h2><hr>
            <ol>
                <li v-for="m in item.menu"><a v-bind:href="m.url">{{m.name}}</a></li>
            </ol>
        </div>
        
    </div>
   <script type="module">
        import {routeConfig} from "/lib.js";
        new Vue({
            el:"#app",
            data:{
                routeConfig:routeConfig
            }
        })     
   </script>
</body>
</html>